**/.env*
**/.*.tmp
**/.git
.worktrees
node_modules
dist
.astro
tests
test-results
playwright-report
docs
supabase
.superpowers
.planning
**/*.md
**/*.license
**/*.key
**/*.pem
**/*.log
postgres-data
minio-data
seaweedfs-data
volumes
.DS_Store
